body
{
color: darkcyan;
text-align: center;
font-family: Arial;
font-size: 18px;
margin: 0;
padding: 0;
}
#container
{
width: 50%;
padding: 1em;
border-bottom: 3px solid rgba(215, 43, 43, 0.667);
border-right: 10px solid #07583c;
border-left: 10px solid #201564;
border-top: 3px solid #b55a1d;
text-align: center;
margin: 0 auto;

}